body {
    background-color: darkred ;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}


img {
    display: block;
    margin: 0 auto;
    width: 60%;
}

dl {
    width: 60%;
    margin: auto;
    border: 2px solid black;
    margin-top: 2rem;
}

dt {
    background-color: aliceblue;
    padding: 1rem;
    font-weight: bold;
}

dd {
    padding: 1rem;
    color: white;
}

p {
    width: 80%;
    background-color: white;
    margin: 1rem auto;
    padding: 1rem;
    border: 2px solid black;
}

ul {
    width: 7dvb;
    margin: 0 auto;
    padding: 1rem;
    border: 2px solid black;
    padding-left: 4rem;
    color: white;
}

a {
    display: block;
    margin: auto;
    text-align: center;
    padding: 1rem;
}