/* Mobile View - Default */

/* A chance for a new look but temporaly orefer OG 
 :root{
    --primary-color: red;
    --secondary-color: green;
    --tertiary-color: #93B9BC;
    --main-font: arial;
}

link{
    color: white;
} */

html {
    scroll-behavior: smooth;
}

body {
    background-color: darkgray;
}

.container{
    min-height: 10rem;
    max-width: 75rem;
    margin: auto;
    background-color: none;
    padding: 1rem;
    color: white;
}

#pageheader {
    background-color: var(--secondary-color);
    min-height: 10rem;
    padding: 1rem;
}

#logo{
    width: 6.25rem;
    height: 6.25rem;
    background-color: red;
    background-image: url(PortfolioImages/Smalllogo.png); 
    background-size: cover;
    border-radius: 20px;
}

#pageheader .container{
min-height: auto;
}
#pageheader nav{
text-align: center;
}
#pageheader nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#pageheader nav ul li {
    border: 2px solid silver;
    padding: 1rem;
    background-color: #759496;
    margin: 2px;
    border-radius: 10px;
}
#pageheader nav ul li:hover {
    background-color: #999BCE;
}
#media {
    background-color: lightblue;
    min-height: 10rem;
    padding: 1rem;
    background-image: url(PortfolioImages/HeroImages002.png);
    background-size: cover;
    aspect-ratio: 16 / 9;
}
#career {
    background-color: purple;
    min-height: 10rem;
    padding: 1rem;
}
#pagecontent {
    background-color: darkred;
    min-height: 10rem;
    padding: 1rem;
}
#semester1 {
    background-color: orchid;
    min-height: 10rem;
    padding: 1rem;
}
#semester2 {
    background-color: steelblue;
    min-height: 10rem;
    padding: 1rem;
}
#pagefooter {
    background-color: slateblue;
    min-height: auto;
    padding: 1rem;
}
#pagefooter .container{
    text-align: center;
    min-height: auto;
}

#aifooter
{
    background-color: seagreen;
    padding: 1rem;
    min-height: center;
}

#aifooter .container
{
    text-align: center;
    min-height: auto;
}
#subfooter {
    background-color: var(--primary-color);
    min-height: 10rem;
    padding: 1rem;
    text-align: center;
}

audio {
    display: block;
    margin: auto;
    background-color: red;
    border: 5px solid red;
}
/* Tablet View */
@media screen and (min-width:600px)
{
    #pagecontent 
    {
        background-color: red;
    }
    #career
    {
        background-color: #17A190;
    }
    #pageheader nav ul {
        background-color: none;
        margin-top: 2rem;
    }
    #pageheader nav ul li {
        display: inline-block;
    }

}
/* Desktop View */
@media screen and (min-width:1000px)
{
    #pagecontent 
    {
        background-color: blue;
    }
    #career
    {
        background-color: #17A190;
    }

}